/*
**************************
(C)2010-2015 phpMyWind.com
update: 2013-4-27 16:57:34
person: Adu
**************************
*/

/*通用样式*/
body{font-family:"微软雅黑";background:#f5f5f5;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,p{margin:0;padding:0;}
img{border:0;}ul,li{list-style-type:none;}
a{color:#333;outline:none;}
a,a:visited{text-decoration:none;color:#333;}
.cl{clear:both;}


/*头部区域*/
.header{width:100%;height:2.8em;line-height:2.8em;background:#608fca;overflow:hidden;}
.header .logo{text-align:center;font-size:1.2em;font-weight:bold;color:#fff;}



/*导航区域*/
.navside{width:100%;}
.navside ul{margin:0px 0;}
.navside li{float:left;width:33.05%;line-height:30px;font-size:1em;text-align:center; background: #608fca;height:45px;font-size: 18px;line-height: 45px;
    border-right: 1px solid #3D97F3;
    border-bottom: 1px solid #3D97F3;}
.navside li span{font-weight:bold;color:#747c86;}
.navside li span .on{font-weight:bold;color:#fff;background: #2495e0 none repeat scroll 0% 0%;display: block;height:45px;line-height: 45px;}
.navside a{color:#fff}


/*主题区域*/
.pubBox{border-top:solid 0px #5d99e2;}

.pubBox .hd{height:35px;line-height:35px;background:#e9e9e9;border-bottom:solid 1px #dcdcdc;}
.pubBox .hd h2{width:95%;padding-left:10px;font-size:1.125em;position:relative;text-align:left;font-weight:bold;color:#2d70c3;}

.pubBox .ft{padding:15px;}
.pubBox .ft .info{line-height:1.6em;color:#333;}
.pubBox .ft .list li{line-height:2em;border-bottom:solid 1px #eceef0;max-width:100%;text-overflow:ellipsis;white-space:nowrap !important;white-space:normal;overflow:hidden;color:#333;}

.pubBox .ft .img li{float:left;width: 48.7%;margin-right: 0.5em;margin-bottom: 0.5em;}
.pubBox .ft .img li a{border:1px solid #f5f5f5;}
.pubBox .ft .img li img{}


.pubBox .ft .img2 li{float:left;width: 48.7%;margin-bottom: 9px; margin-right: 0.5em;}
.pubBox .ft .img2 li a.imgarea{display:block;border:1px solid #f5f5f5;}
.pubBox .ft .img2 li p{height:40px;overflow:hidden;text-align: center;line-height: 40px}
.pubBox .ft .img2 li p a{color:#333;}


.goChannel{height:52px;line-height:52px;text-align:center;}
.goChannel span{height:22px;line-height:22px;background:url(../images/mobile/icon.png) right 0px no-repeat;background-size:22px 22px;display:inline-block;color:#b3b5b9;padding-right:27px;margin:15px 0;}
.goChannel span{background:url(../images/mobile/icon_on.png) right 0px no-repeat;background-size:22px 22px;}


/*页脚区域*/
.footer{background:#191919;text-align:center;overflow:hidden;position:relative;}
.footer .copyRight{padding:10px 15px;line-height:24px;text-align:left;color:#a6aeb6;}
.footer .topBtn a{width:20px;height:19px;background:url(../images/mobile/top.png) no-repeat;background-size:20px 19px;position:absolute;bottom:10px;right:10px;}


/*详细内容*/
.subCont{margin-top:10px;}
.subCont .title{font-size:1.5em;line-height:1.2em;text-align:center;}
.subCont .continfo{width:100%;text-align:center;margin:15px auto;border:1px solid #ccc;border-left:none;border-right:none;color:#666;}
.subCont .continfo span{color:#999;}
.subCont .contimg{margin:20px auto;text-align:center;overflow:hidden;display:table;}
.subCont .contimg a img{border:1px solid #ccc;padding:1px;}
.subCont .contimg a:hover img{border:1px solid #999;padding:1px;background:#B1D8F3;}
.subCont .conttxt{color:#333;}


/*内容分页*/
.contPage{height:24px;line-height:24px;text-align:center;letter-spacing:0;font-family:"Arial Black";font-size:10px;margin:20px 0 10px;}
.contPage a{display:inline-block;color:#898989;border:1px solid #e8e8e8;background:#f8f8f8;text-align:center;padding:0 8px;margin:0 1px;}
.contPage a.on{color:#fff;border:1px solid #898989;background:#898989;}


/*列表分页*/
.page_info{text-align:center;margin:10px 0;}
.page_info span{padding:0 2px;font-weight:bold;}
.page_list{height:24px;line-height:24px;text-align:center;letter-spacing:0;font-family:"Arial Black";font-size:10px;margin:20px 0 10px;}
.page_list a{display:inline-block;color:#898989;border:1px solid #e8e8e8;background:#f8f8f8;text-align:center;padding:0 8px;margin:0 1px;}
.page_list a.on{color:#fff;border:1px solid #898989;background:#898989;}


/* 栏目标题 */

    .column-title                   {   padding:10px 10px;  position: relative;text-align: center;       }
    .column-title .ch               {
                                        background: url(/images/point-gary.jpg) repeat-x center center;
                                        font-size: 40px;
                                        color: #333333;
                                        position: relative;
                                        z-index: 30;
                                    }

    .column-title .ch b             {
                                        width:80%;
background:#f5f5f5;
                                        padding:0 15px;
                                        font-weight: 400;

                                    }

    .column-title .en               {
                                        font-size: 24px;
                                        color: #9b9b9b;
                                        text-transform: uppercase;
padding:5px 0;
                                    }
    .column-title .green            {   color: #24bbe8;     }
    .column-title .clude            {
                                        line-height: 20px;
                                        overflow: hidden;
                                        margin-top: 10px;
                                    }

    .column-title .more             {   
                                        display: inline-block;
                                        padding: 10px 5%;
                                        line-height: 100%;
                                        text-transform: uppercase;
                                        margin-top: 10px;

    }
    .column-title .moreStyle1       {   color: #333; border: 1px solid #d2d2d2; }
    .column-title .moreStyle2       {   color: #fff; border: 1px solid #82d0cb; }
    
    .column-title .line             {
                                        width: 100%;
                                        height: 1px;
                                        background: #cecece;
                                        position: absolute;
                                        top: 65px;
                                        left: 0;
                                        z-index: 10;

                                    }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url(./ajax-loader.gif) center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; max-height:500px; min-height: 1px; display: none; overflow:hidden;}

.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block;}
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }


.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0px; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0px 5px; padding: 0px; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; width:100%; height:100%;  outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; outline: none; }
.slick-dots li button:focus { outline: none; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; width:100%; height:100%; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { opacity: 0.75; }

    .banner .slick-dots         {
                                        position: absolute;
                                        bottom: 0;
                                        width: 100%;
                                        left: 0;
                                        height: 30px;
                                        line-height: 25px;
                                        padding: 0;
    }
    .banner .slick-dots li {
    display: inline-block;
    width: 50px;
    height: 5px;
    background: #fff;
    text-indent: -9999px;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0px 5px;
    padding: 0px;
    cursor: pointer;
}
.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    outline: none;
}
    .banner .slick-dots .slick-active button:before {
                                        opacity: 1;
    }
        .banner .slick-dots li button:before {
        
                                        width: 100%;
                                        height: 100%;
                                        font-size: 0px;
                                        line-height: 5px;
                                        background: #24bbe8;
                                        opacity: 0;
    }